{% extends 'chat/base.html' %}
{% load static %}
{% block title %}
	Chat Rooms | New Chat
{% endblock %}

{% block content %}
    <div id="header-right" class="header-right">
        <!-- profile pict -->
        <div id="header-img" class="profile header-img">
          <img src="{% static 'images/Sample_User_Icon.png' %}" alt="">
        </div>

        <!-- name -->
        <h4 class="name friend-name">{% if user.is_authenticated %}
        	{{ just_username }}
            {% else %}
            <span style="color: red">Ghost User</span>
            {% endif %}</h4>

        <!-- some btn -->
        <div class="some-btn">
{#          <span class="glyphicon glyphicon-facetime-video"></span>#}
{#          <span class="glyphicon glyphicon-earphone"></span>#}
{#            <a href="/"><span class="glyphicon glyphicon-home"></span></a>#}
        </div>
      </div>

      <!-- chat area -->
      <div id="chat-area" class="chat-area">
        <!-- chat content -->
    <center>
        <div class="div_marg">
             <h3>What chat room would you like to enter?</h3><br>
    <div class="form-group container">
        <input id="room-name-input" class=" form-control" type="text" size="100"><br><br>
    </div>
            <button id="room-name-submit" class="btn_search_control"><span class="glyphicon glyphicon-search spanner"></span></button>

        </div>
        <br>
        <h1>Chat Rooms</h1>
    <div class="container">
        <div class="list-group">
        {% for i in chat_rooms %}
  <a href="/chat/{{ i.roomname }}/" class="list-group-item list-group-item-action">{{ i.roomname }}</a>
        {% endfor %}
</div>
    </div>

    </center>
</div>


    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>

{% endblock %}