{% extends 'chat/base.html' %}
{% load static %}

{% block title %}
    room {{ room_name }}
{% endblock %}

{% block content %}
<div id="header-right" class="header-right">
        <!-- profile pict -->
        <div id="header-img" class="profile header-img">
          <img src="{% static 'images/Sample_User_Icon.png' %}" alt="">
        </div>

        <!-- name -->
        <h4 class="name friend-name">
            {% if user.is_authenticated %}
        	{{ just_username }}
            {% else %}
            <span style="color: red">Ghost User</span>
            {% endif %}
        </h4>

        <!-- some btn -->
        <div class="some-btn">
          <span class="glyphicon glyphicon-facetime-video"></span>
          <span class="glyphicon glyphicon-earphone"></span>
          <span class="glyphicon glyphicon-option-vertical option-btn"></span>
        </div>
      </div>

      <!-- chat area -->
      <div id="chat-area" class="chat-area">
        <!-- chat content -->

</div>



        {% if user.is_authenticated %}
	<!-- typing area -->
      <div id="typing-area" class="typing-area">
        <!-- input form -->
        <input id="chat-message-input" class="type-area" placeholder="Type something...">
        <!-- attachment btn -->
        <div class="attach-btn">
          <span class="glyphicon glyphicon-paperclip file-btn" aria-hidden="true" onclick="document.getElementById('inp').click();"></span>
        </div>
        <!-- send btn -->
        <button id="chat-message-submit"><span class="glyphicon glyphicon-send send-btn"></span></button>
      </div>
            {% else %}
            <div id="typing-area" class="typing-area">
            <input  class="type-area" value="You Cant Type message...  Please Login" disabled>
        {% endif %}


<input id="inp" type='file' accept="image/*" style="display:none" >
<p id="b64"></p>
    {{ room_name|json_script:"room-name" }}
    <script src="{% static 'js/reconnecting-websocket.js' %}"></script>
    <script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    var username = {{ username }}
        const chatSocket = new ReconnectingWebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onopen = function (e){
             chatSocket.send(JSON.stringify({
                'command': "fetch_message",
                 'roomname':roomName
            }));
        }

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)

            if (data['command'] == "fetch_message") {
                for (let i = data['message'].length - 1; i >= 0; i--) {
                    create_message(data['message'][i]);
                }

            }else{
                create_message(data)
            }

        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            if (messageInputDom.value != ""){
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'command': "new_message",
                    'username': username,
                    'roomname':roomName,
                }));
                messageInputDom.value = '';
            }
        };
        function create_message(data){
            var author = data["__str__"]
            const x = data.content.substring(0,11);

            if(author != username){
                var div1 = document.createElement('div');
                div1.id = 'friends-chat';
                div1.className = 'friends-chat';
                var div2 = div1.appendChild(document.createElement('div'));
                div2.className = 'profile friends-chat-photo';
                var img = div2.appendChild(document.createElement('img'))
                img.src = "{% static 'images/Sample_User_Icon.png' %}";
                var div_chat = div1.appendChild(document.createElement('div'));
                div_chat.className = 'friends-chat-content';
                var p0 = div_chat.appendChild(document.createElement('p'))
                p0.className = 'friends-chat-name';
                p0.textContent = data.__str__;

                if (x == 'data:image/') {
                    var p1 = div_chat.appendChild(document.createElement('img'))
                    p1.className = 'friends-chat-balloon-img';
                    p1.style = 'width:30%;';
                    p1.src = data.content;
                }
                else{
                    var p1 = div_chat.appendChild(document.createElement('p'))
                    p1.className = 'friends-chat-balloon';
                    p1.textContent = data.content;
                }
                var h5 = div_chat.appendChild(document.createElement("h5"))
                h5.className = 'chat-datetime';
                let str = data.timestamp.toString();
                str = str.substring(0, str.length - 8);
                h5.textContent = str;
                document.querySelector("#chat-area").appendChild(div1)
            } 
            else{
                var div_me = document.createElement('div');
                div_me.className = 'your-chat';
                div_me.id = 'your-chat';
                if (x == 'data:image/') {
                    var pme = div_me.appendChild(document.createElement('img'));
                    pme.className = 'your-chat-balloon-img';
                    pme.style = 'width:30%;';
                    pme.src = data.content;
                }
                else{
                    var pme = div_me.appendChild(document.createElement('p'));
                    pme.className = 'your-chat-balloon';
                    pme.textContent = data.content;
                }
                let strt = data.timestamp.toString();
                strt = strt.substring(0, strt.length - 8);
                var ptime = div_me.appendChild(document.createElement("h5"))
                ptime.className = 'chat-datetime';
                ptime.textContent = strt;
                document.querySelector("#chat-area").appendChild(div_me)
            }

        }


        function readFile() {
            if (this.files && this.files[0]) {
                var FR = new FileReader();

                var currentdate = new Date();
                var datetime = currentdate.getFullYear() + "-"
                + (currentdate.getMonth()+1)  + "-"
                + currentdate.getDate() + "  "
                + currentdate.getHours() + ":"
                + currentdate.getMinutes() + ":"
                + currentdate.getSeconds();

                FR.addEventListener("load", function (e) {
                   chatSocket.send(JSON.stringify({
                    'content': e.target.result,
                    'message':e.target.result,
                    'command': "img",
                    '__str__': username,
                       'username':username,
                    'roomname':roomName,
                    'timestamp': datetime
                }));

                });
                FR.readAsDataURL(this.files[0]);
            }
        }
    
        document.getElementById("inp").addEventListener('change',readFile);



</script>

{% endblock %}